name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Extract Version
      run: PACKAGE_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
      env:
        PACKAGE_VERSION: 0.0.0
    - name: Build with Maven
      run: mvn -B -e -Pgithub-repository clean package deploy --file pom.xml
